<%- include('parties/header') %>

<div id="Homepage" >
    <div class="hometxt">
        <h1>Rock Paper Scissor</h1>
    </div>
    <div><img class="Homehand1" src="/assets/Lscissor.png" alt=""></div>
    <div class="hometxt homebtn">
        <button onclick="window.location.href='/PlaywithPc'" class="btn1">Play with PC!!</button>
        <button onclick="window.location.href='/multiplayer'" class="btn2">Play with Friend</button>
    </div>
   <div><img class="Homehand2" src="/assets/Rrock.png" alt=""></div>

</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/index.js"></script>
<footer><p>Copyright@ TechGrower</p></footer>


</html>